{% extends 'base2.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<P><strong>Imagem que serve apenas para voltar</strong></P>
<a href="{% url 'pagina_principal' %}">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1haV3q_c4ipo7LJDCGLUHFpvahVYTABVbjQ&s" width="50px"
    height="50px">
</a>

<div class="container-fluid centered-container">
  <div class="row justify-content-center shadow-lg ">
    <div class="col-12 col-md-8 col-lg-6 login-items-holder">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <p class="text-start text-black display-5 fw-bold login-text">Bem vindo ao plantaê!</p>
          <input type="text" class="form-control p-3 user-passwd" id="username" name="username" placeholder="Usuário">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control p-3 user-passwd" id="password" name="password" placeholder="Senha">
        </div>
        <button type="submit" class="btn btn-primary login-btn" id="loginBtn" disabled>Entrar</button>
        <p class="not-registered">
          Não é registrado? <a href="http://localhost:8000/membros/registration/"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Registro</a>
        </p>
      </form>
    </div>
  </div>
</div>

<script>
  const usernameInput = document.getElementById('username');
  const passwordInput = document.getElementById('password');
  const loginBtn = document.getElementById('loginBtn');

  function toggleButtonState() {
    if (usernameInput.value.trim() !== "" && passwordInput.value.trim() !== "") {
      loginBtn.disabled = false;
    } else {
      loginBtn.disabled = true;
    }
  }

  usernameInput.addEventListener('input', toggleButtonState);
  passwordInput.addEventListener('input', toggleButtonState);
</script>

{% endblock %}