{% extends 'base2.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/registration.css' %}">

<div class="container d-flex min-vh-100 supercontainer">
    <div class="hold-title-logo">
        <P><strong>Imagem que serve apenas para voltar</strong></P>
        <a href="{% url 'pagina_principal' %}">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1haV3q_c4ipo7LJDCGLUHFpvahVYTABVbjQ&s" width="50px" height="50px">
        </a>
        <div class="holdallform">
            <h1 class="text-black fw-bold">Crie sua conta no Plantaê</h1>
            <div class="form-group p-2">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Nome de Usuário:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Senha:</label>
                        <input type="password" id="password1" name="password1" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirme a Senha:</label>
                        <input type="password" id="password2" name="password2" class="form-control" required>
                    </div>
                    <button class="btn btn-secondary register-btn" type="submit">Criar conta</button>
                </form>
                <hr>
                <p class="alr-registered">Já tem uma conta? <a href="{% url 'login' %}"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Entrar</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}