{% extends 'base1.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/tempo.css' %}">

<div class="weather-table-container">
    <h2 class="mt-5">Previsão do Tempo para {{ cidade.nome }}</h2>

    {% if erro %}
        <p>Erro: {{ erro }}</p>
    {% else %}
        <table class="weather-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Temperatura Máxima (ºC)</th>
                    <th>Temperatura Mínima (ºC)</th>
                    <th>Umidade (%)</th>
                    <th>Precipitação (mm)</th>
                    <th>Velocidade do Vento (km/h)</th>
                </tr>
            </thead>
            <tbody>
                {% for item in previsao %}
                <tr>
                    <td>{{ item.data }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.temperatura_max }}</td>
                    <td>{{ item.temperatura_min }}</td>
                    <td>{{ item.umidade }}</td>
                    <td>{{ item.precipitacao }}</td>
                    <td>{{ item.vento_velocidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

{% endblock %}
